.card{
    h2{
        color: $castel;
        font-size: 22px;
        @include media-breakpoint-up(lg){
            font-size: 27px;
        }
    }
    img{
        object-fit: cover;
        height: 150px;
        @include media-breakpoint-up(md){
            height: 220px;
        }
    }
}