

$primary-color: red;
$secondary-color: green;

// Proposition de couleurs pour le site : 

    // Couleurs banière
    $white : #FFFFFF;
    $castel :#1ab28a;
    $background : #fbbe4f;
    $title : #746bab;

    // color palette
    $bleu-vert : #76d0c0;
    $bleu-fonce : #4a62d8