

header{
    background-color: $banner;
    margin-bottom: 40px;
    .baniere{
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 5em;
        color: $title;
    }
    
   
    .castle{
        text-align: center;
        width: 30%;
    }
 
}