
body {
    background-color: $primary-color;
    @include media-breakpoint-up(md){
        background-color: $secondary-color;
    }
    @include media-breakpoint-up(xl){
        background-color: rgb(0, 187, 255);
    }
}
