body {
    background-color: $background;
    color: rgb(74, 69, 69);
}

h1, h2, h3, h4{
    color: $title;
}

a{
    color: $link;
    &:hover{
        color: $link;
        text-decoration: underline;
    }
}

// BUTTONS BTN
.btn, .btn:hover, .btn:focus, .btn:active{
    color: white;
}
.btn-success{
    background-color: $success;
    border-color: $success;
    &:hover, &:active{
        background-color: darken($success,10%);
        border-color: darken($success, 10%);
    }
    &:focus{
        box-shadow: 0 0 0 0.25rem fade-out($warning, 0.6);
    }
}
.btn-warning{
    background-color: $warning;
    border-color: $warning;
    &:hover, &:active{
        background-color: darken($warning, 15%);
        border-color: darken($warning, 15%);
    }
    &:focus{
        box-shadow: 0 0 0 0.25rem fade-out($warning, 0.6);
    }
}
.btn-success{
    background-color: $success;
}

// MESSAGES FLASH
.flash{
    text-align: center;
    width: fit-content;
    max-width: 60%;
    padding: 15px 40px;
    margin: 20px auto;
    color: white;
    font-size: 20px;
    &.flash-notice{
        background-color: $success;
    }
    &.flash-warning{
        background-color: $warning;
    }
    &.flash-error{
        background-color: $error;
    }
    svg{
        width: 25px;
        height: auto;
    }
}