body {
    background-color: $background;
    color: rgb(74, 69, 69);
}

h1, h2, h3, h4{
    color: $title;
}
h1{
    text-align: center;
    line-height: 90px;
}

a{
    color: $link;
    &:hover{
        color: $link;
    }
}

#category{
    h1{
        height: 90px;
        img{
            width: 90px;
            height: auto;
            float: right;
        }
    }
}

// MESSAGES FLASH
.flash{
    text-align: center;
    width: fit-content;
    max-width: 60%;
    padding: 15px 40px;
    margin: 20px auto;
    color: white;
    font-size: 20px;
    &.flash-success, &.flash-notice{
        background-color: $success;
    }
    &.flash-warning{
        background-color: $warning;
    }
    &.flash-error{
        background-color: $error;
    }
    svg{
        width: 25px;
        height: auto;
    }
}