{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<section id="mesinfos" class="container text-align-center">
    <h1 class="text-center">Bienvenue {{app.user.pseudo}}</h1>
    <div class="d-flex flex-column align-items-center">
        <div class="infos mt-5">
            <h2 class="mb-5">Voici vos informations :</h2>
            <p>Pseudo : {{app.user.pseudo}}</p>
            <p>Adresse e-mail : {{app.user.email}}</p>
        </div>
        
    </div>
 
</section>


{% endblock %}
