{% extends 'base.html.twig' %}

{% block title %}Mes informations{% endblock %}

{% block body %}
<section id="mesinfos" class="container text-align-center">
    <h1 class="text-center">Bienvenue {{app.user.pseudo}}</h1>
    <div class="d-flex flex-column align-items-center">
        <div class="infos mt-5">
            <h2 class="mb-5">Voici vos informations :</h2>
            <p>Pseudo : <span class="fw-bold">{{app.user.pseudo}}</span></p>
            <p>Adresse e-mail : <span class="fw-bold">{{app.user.email}}</span></p>
        </div>
        
    </div>
 
</section>


{% endblock %}
