{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
<section class="container">
    <h1>Modifier un article</h1>
    <div class="w-50 center">
        {{form(articleForm)}}
    </div>
</section>
{% endblock %}